.verb-items {
    display: flex;
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1440px;
    margin: auto;


}
a {
    color: #000;
    text-decoration: none;
}
.adventure-item {
    border: solid 1px #EAEAEA;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 200px;

}

.adventure-item-length {
    display: inline;
}

.adventure-item-price {
    font-size: 13px;
    color: grey;
    margin: 10px 0 20px;
    min-height: 35px;
}
.verb-item-image {
    width: 32px;
    height: 32px;
}

.verbs {
    max-width: 1000px;
    margin: auto;
    padding: 40px 40px 60px;
}

.Sign_PH {
    height: 410px;
    border: gray dotted 5px;
} 

.home-copy {
    text-align: center;
}

.fake-dc {
    width: 90%;
    padding: 200px 0;
    text-align: center;
    background: darkgray;
    color: blue;
    font-size: 100px;
    border: 5px grey dotted;
    margin: auto;
}

.seo-content {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  
  .seo-content-wrapper {
    padding: 12px 30px;
    margin-right: 4px;
    display: inline-block;
  }
  
  .center {
    text-align: center;
    margin: auto;
    display: block
  }

.sign-in-wrapper {
    background: #FC6767;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
}

.left-box {
    display: inline-block;


    padding: 30px;
    margin: 30px;

}

.right-box {
    display: inline-block;
    color: black;
    background: white;
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}

.bg {
    background-color: #FC6767;
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.footer {
    text-align: center;
    width: auto;
    padding: 40px 20px;
    border-top: 1px #8080803b solid;
}

.footer-items {
    display: flex;
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.footer-item {
    margin: 20px;
}

.btn {
    border: 2px black solid;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 5px 0;
}

.blue {
    background-color: #1473e6;
    color: white;
    border-color:  #1473e6;
    display: block;
}

.white {
    background-color: white;
    color: black;
    border-color: gray;
    display: block;
}

.black {
    background-color: black;
    color: white;
    display: block;
}

.salmon {
    background-color: #FC6767;
}

.converter {
    width: 83.333333%;
    max-width: 83.333333%;
    flex: 1 1 auto;
    min-height: inherit!important;
    z-index: 1;

}